h1 {
    color: yellowgreen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Tiles Board styles */
.board {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Tile styles */
.tile-container {
    width: 23%;
    height: 100px;
    box-sizing: border-box;
    margin: 10px 0;
    display: block;
    perspective: 1000px;
}
.tile-container.unclickable {
    pointer-events: none;
}
.tile-container.removed {
    visibility: hidden;
}
.tile-container .tile {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    pointer-events: inherit;
}
.tile-container .tile .front,
.tile-container .tile .back {
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform ease 500ms;
}
.tile-container .tile .front {
    z-index: 2;
    transform: rotateY(-180deg);
}
.tile-container .tile .back {
    background: gray;
    transform: rotateY(0deg);
}
.tile-container .tile.opened .front {
    transform: rotateY(0deg);
}
.tile-container .tile.opened .back {
    transform: rotateY(180deg);
}
